# break:
            the break statement terminates the loop containing it.control of the program flows to the statement immediately after the body of the loop.if break system is inside a nested loop(loop inside another loop).break will terminate the innermost loop.

In [3]:
#use of break statement inside loop
city = ['bengaluru','chennai','hyderabad','noida','murthal']
for val in city:
    if val == 'noida':
        break                          #if and print should be in same line.otherwise result will not occur.  
    print(val)

bengaluru
chennai
hyderabad

In [5]:
#as soon as condition satisfy loop will break and it will not check next element.
salary = [12000,13000,45000,89000,76000,34000 , 11000]
for val in salary:
    if val > 50000:
        break                    # value will stop printing as soon as it get higher than 50000, it stops looking for other value as soon as it become higher than 50000.
    print(val)

12000
13000
45000

# continue:
                 the continue statement is used to skip the rest of the code inside a loop for the current iteration only.loop doesn't terminate but continue with nect iteration

# function:
                we will write one function on the basis of which many cases will be coded.
                ro write a function first we have to define a function(def).
                then we will have to call off the function.

In [6]:
#continue
city = ['noida','bhiwani','jhajar','fatehbad','hisar','sirsa']
for val in city:
    if val =='fatehbad':                                #it will skip fathebad and will move to next city and include every city
        continue
    print(val)

noida
bhiwani
jhajar
hisar
sirsa

In [7]:
salary = [1000,2000,5000,7000,4000,13000,5300]
for val in salary:
    if val >5000:                               #only value less than 5000 will occur
        continue
    print(val)

1000
2000
5000
4000

In [8]:
#how to def a function
#def name of function (arg1,arg2):    #arguments going to pass some data and in order to save data we create arguments.

In [12]:
def sayhello():
    print('this is just a sample')     #out nothing happenend defining a function is not enough we have to call it off.

In [14]:
#a simple greeting function
def greeting(name):
    print('hello' ,name)

In [15]:
greeting('good morning')            #this is how we calloff a function

hello good morning

# using return

In [16]:
#salary update of employee
#without return
def salary_inc(fixed_salary , rent):            #it is defining of function where salary and rent are arguments.
    total_salary = (fixed_salary + rent)
    if total_salary <=9000:
        total_salary+1000
    else:
        total_salary

In [18]:
print('your new salary' , salary_inc(6500,2000))      #this is known as calling off the function but as we haven't use return the result is none here.

your new salary None

In [25]:
def salary_inc(fixed_salary , rent):           
    total_salary = (fixed_salary + rent)    #here we used return so the function works.
    if total_salary <=9000:
        return total_salary + 1000
    else:
        return total_salary

In [27]:
print('your new salary =', salary_inc(6000,2000))

your new salary = 9000